# Python 3.10.12

# Packages
absl-py==2.1.0
aiohttp==3.11.0
alembic==1.14.0
attrs==24.2.0
beautifulsoup4==4.12.3
catboost==1.2.7
cloudpickle==3.1.0
fsspec==2024.2.0
gensim==4.3.3
huggingface-hub==0.26.2
Jinja2==3.1.3
joblib==1.4.2
lightgbm==4.5.0
matplotlib==3.9.2
numpy==1.26.4
optuna==4.1.0
pandas==2.2.3
plotly==5.24.1
protobuf==5.28.3
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
shap==0.46.0
SQLAlchemy==2.0.36
torch==2.5.1+cu118
torchvision==0.20.1+cu118
transformers==4.46.2
xgboost==2.1.2
critdd @ git+https://github.com/mirkobunse/critdd@0d5422d6e10a69f2a2da2252d59de9e959caa19e

# R 4.4.2

# Packages (to be installed manually)
# tidyr==1.3.1
# dplyr==1.1.4
# rstatix==0.7.2